
	<div class="row">
		<div class="col-md-2">
			<%= image_tag 'download.png' %>
			<hr>
			<div class="timezone">
				<blockquote><%= Time.zone.name %> Time Zone</blockquote>
			</div>
			<div class="social">
				<% unless current_user.connections.where(provider: "twitter").any? %>
				<%= link_to 'connect to twitter' , "/auth/twitter" , class: "btn btn-info btn-block btn-sm" %>
				<% else %>
				<%= link_to 'connected to twitter' , "/auth/twitter" , class: "btn btn-warning btn-block btn-sm" %>
				<%= link_to 'disconnect from twitter' , connection_path(current_user.connections.where(provider: "twitter").first) ,method: :delete, class: "btn btn-danger btn-block btn-sm" %>
				<% end %>
				<% unless current_user.connections.where(provider: "facebook").any? %>
				<%= link_to 'connect to facebook' , "/auth/facebook" , class: "btn btn-info btn-block btn-sm" %>
				<% else %>
				<%= link_to 'connected to facebook' , "/auth/facebook" , class: "btn btn-warning btn-block btn-sm" %>
				<%= link_to 'disconnect from facebook' , connection_path(current_user.connections.where(provider: "facebook").first) ,method: :delete, class: "btn btn-danger btn-block btn-sm" %>
				<% end %>
			</div>
		</div>
		<div class="col-md-4 col-sm-offset-1">
			<h1>Scheduled Posts</h1>
			<hr>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Panel title
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-offset-1">
			<h1>Posts History</h1>
			<hr>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Panel title
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
	</div>
