
<h1>New Post</h1>
<%= simple_form_for(@post) do |f|%>
<%= f.error_notification %>

<div class="form-inputs">
	<%= f.input :content , required: true, maxlength: 140 , label: false ,placeholder: 'write content' %>
	<p>This post will be scheduled in <%= Time.zone.name %> time zone</p>
	<%= f.input :scheduled_at , required:true  ,label:false%>
</div>

<div class="form-inputs">
	<% if current_user.connections.where(provider: "facebook").any? %>
	<%= f.input :facebook %>
	<% end %>
	<% if current_user.connections.where(provider: "twitter").any? %>
	<%= f.input :twitter %>
	<% end %>
</div>

<div class="form-actions">
	<%= f.button :submit %>
</div>

<% end %>

<%= link_to 'back' , dashboard_path , class:'btn btn-primary btn-lg pull-right' %>